<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>This is using an instance variable with value: <%= @variable %></h1>
	<h1>This is using a variable passed as locale: <%= variable ||= '' %></h1>
</body>
</html>